<p>Your are in the Home page</p>
@if(posts.length > 0){ @for(item of posts; track item) {
<div>
  <p>{{ item.title }} - {{ item.views }}</p>
</div>
}}

<div class="button-container">
  <button mat-stroked-button><a routerLink="/about">About</a></button>
  <button mat-button>Default</button>
  <button mat-raised-button>Raised</button>
  <button mat-stroked-button>Stroked</button>
  <button mat-flat-button>Flat</button>
  <a routerLink="/my-counter"><button mat-stroked-button>My-Counter</button></a>
</div>
